<p>inicio works!</p>
<h1>{{nombre + ' ' + apellido}}</h1>
<app-loading [visible]="loadinginvisible"></app-loading>
<!--igualamos la variable visible creada en loading con loadinginvisible de inicio-->
<!--recordemos que se mantiene en invisible ya que a ""visible" le estamos 
                                                            pasando el valor de loading que tenia false-->


<div class="grid">
    <div class="col-6">
        <p-button label="ir a pagina" (onClick)="irPaginaTabla()"></p-button> <!--oton llamado con una libreria de bostrap-->
    </div>
    <div class="col-6">
        <p-button label="loading" icon="pi pi-discord" (click)="visualizarloading()"></p-button> <!--ahora para mostrar creamos un boton y que juto cuando se de click se llame
            a la funcion visualizarloading que contiene a loadinginvisible
            pero aqui como sabemos le pusimos true, de esa forma se visualizara-->
    </div>
</div>